.hd-hgroup {
    /** 
    --width: 宽度，由js设置此属性
    --height: 高度，由js设置此属性
    --vertical-align: 垂直对齐方式，由js设置此属性
    --horizontal-align: 水平对齐方式，由js设置此属性
     */
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: var(--horizontal-align);
    align-items: var(--vertical-align);
    width: var(--width);
    height: var(--height);
}