@import "../../styles/vars.scss";

.dropdown {
  .ant-select-selection {
    border: 1px solid #128dcd;
    background: $select-dropdown-bgcolor;
  }

  .ant-select-arrow {
    color: #fff;
  }

  .ant-select-selection-selected-value {
    color: #fff;
  }
}

.ant-select-dropdown {
  background-color: $select-dropdown-bgcolor !important;
}

/* 2161B7 */
.ant-select-dropdown-menu-item:hover:not(.ant-select-dropdown-menu-item-disabled) {
  background: #2161b7 !important;
}

.ant-select-dropdown-menu-item-active:not(.ant-select-dropdown-menu-item-disabled) {
  background: #2161b7 !important;
}

.ant-select-dropdown-menu-item {
  color: #fff !important;
}

.ant-select-dropdown-menu-item-selected {
  background: #2161b7 !important;
}
