.hd-panel {
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, .1);
  box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, .2);

  .hd-panel-title {
    width: 100%;
    box-sizing: border-box;
    user-select: none;
    /* background: #25AFF3; */
    /* color: white; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 5px 10px;
    /* border-radius: 5px 5px 0 0; */
  }

  .hd-panel-content {
    width: 100%;
    box-sizing: border-box;
    height: auto;
  }
}
